body 
{

    font-family: 'Caveat', cursive;
    margin:0;
}

h1{

 font-size: 50px;
 margin-left: 50px ;

}
.anime
{

         color: red;


}
.highlight{
 
      color: blue;
}

.half-width{
           
     width: 40%;;
     float:left;
     margin-left:5%;

   

}
.half-width-img
{
     width :100%;
}



section{

     height: 500px;
}



.background_img{
        
           background-image: url(Image/complete-web-development-bangla-resources-master/top-banner.png);
           background-repeat: no-repeat;


}

.botton-style{
 
    text-decoration: none;
    background-image: linear-gradient(orange ,red );
    padding: 10px 20px;
    border-radius: 5px;
    color: white;



}
.head
{
        float:left ;
        width: 40%;
        margin-left:5% ;
}


.subcribe{
  
     text-decoration: none;
     padding: 10px 20px;
     background-color: red;
     color:aliceblue;
     border-radius: 5px;
     font-family:bold;
     background-image: linear-gradient(orange red);


}

.hello{
       width: 30%;
       float: right;
       margin-left: 5px; ;
       margin-bottom:20% ;

}

.next_project {


    width: 40%;
    float: left;
    margin-left: 5%;



}

.New{

     text-decoration: none;
     padding: 10px 20px;
     background-color: red;
     color:aliceblue;
     border-radius: 5px;
     font-family:bold;
     background-image: linear-gradient(orange red);
}



.new_span{

       color: green;

}

.box
{
        box-shadow: 10px 10px 40px gray ;
        border-radius: 5px;
        height: 60%;


}
.secend-work{

         background-image: url(image/complete-web-development-bangla-resources-master/developer-portfolio/exp-bg.png);
         background-repeat:no-repeat;
         background-position:left;

     }
     #font-end{
              
          border-left:7px solid;
          border-image: linear-gradient(180deg,tomato,lightSalmon);
          border-image-slice:1;
      
  }

  #back-end{

       border-left: 7px solid ;
       border-image: linear-gradient(180deg,blue,cyan);
       border-image-slice:1;

  }

  footer p{

    text-align: center;

  }